
<div class="container" id="content">

  <div class="row search">
    <form class="form-horizontal " role="search" id="search-form">
      <div class="form-group col-sm-10 ">
        <input type="text"
               class="form-control"
               id="search-box"
               placeholder="Search"
               ng-model="search">
      </div>
      <button type="submit"
              class="btn ">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </form>
  </div>
  <div class="row message-container" ng-repeat="message in $ctrl.messageList | filter:search">
    <div class="message">
      <div class="message-images col-sm-5">
        <img class="message-image" src="{{message.picture}}">
        <img class="message-icon" src="{{message.icon}}">
      </div>
      <div class="message-text col-sm-7">{{message.message}}</div>
    </div>
  </div>
</div>