<div>esta es la lista de pokemones</div>

<hr/>
<vic-pokemon name="$ctrl.message"></vic-pokemon>

<hr/>
<div>{{1 | vicFilter}}</div>
<div>{{2 | vicFilter}}</div>
<div>{{3 | vicFilter}}</div>
<div>{{4 | vicFilter}}</div>
